@{
    Layout = null;
}

<!DOCTYPE html>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<script>
    function fillWithData(data) {
        var width = $(window).width();
        var cardWidth = 250;
        var borderWidth = 50;
        //var heights = [200,300,200,200,300,300,200,200,300,200];
        var n = data.length;
        for (var i = 0; i < n; i) {
            var content = "<div id='idea" + i + "' class = 'idea'></div>";
            var $ideaDiv = $(content);
            $("#idea"+i).hide();
            //alert(content);
            $(".table").append($ideaDiv);
            //$("#idea"  i).height(heights[i]);

            content = "<div class = 'image-panel'>" +  i  + "</div>";


            var $imageDiv = $(content);
            $("#idea" + i).append($imageDiv);


            content = "<div class = 'text-panel'>";
            //var namee = "<h3>".data[i].Name;
            content = content.concat("<h3>");
            content = content.concat(data[i].Name);
            content = content.concat("</h3>");
            content = content.concat("<p>");
            content = content.concat(data[i].Description);
            content = content.concat("</p>");
            var $textDiv = $(content);
            $("#idea" + i).append($textDiv);

            content = "<div class = 'tag-panel'>";
            content = content.concat("<mark>#tag1, #tag2</mark>");
            var $tagDiv = $(content);
            $("#idea" + i).append($tagDiv);
        }
    }

    $(function f() {
        $.ajax({
            type: "GET",
            url: 'http://ideasbank.somee.com/Ideas/GetPage/',
            data:{pageNumber:1, pageSize:10},
            async:true,
            dataType : 'json',   //you may use jsonp for cross origin request
            crossDomain:true,
            success: function(data) {
                fillWithData(data);
            }
        });
    });

</script>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Банк Ідей</title>
    <link href="@Url.Content("~/Content/menu.css")" rel="stylesheet" type="text/css" media="all" />
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" media="all" />
    @Styles.Render("~/Content/css")
    @Styles.Render("http://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic")
</head>

<body>
    <div class="main-menu">
        <div class="left">
            <div class="menu-item logo">
                <a href=""></a>
            </div>
            <div class="menu-item">
                <a href="">Майстерня</a>
            </div>
            <div class="menu-item">
                <a href="">Музей</a>
            </div>
            <div class="menu-item">
                <a href="">Кладовище</a>
            </div>
        </div>
        <div class="right">
            <div class="menu-item">
                <a href="" class="search"></a>
            </div>
            <div class="menu-item">
                <a href="" class="profile"></a>
            </div>
        </div>
    </div>
    <div class="navigator">
        <div class="left">
            <div class="create-item">
                @Html.ActionLink("Створити ідею", "Create", "Home")
            </div>
        </div>
        <div class="right">
            <div class="nav-item active">
                <a href="">Нові</a>
            </div>
            <div class="nav-item">
                <a href="">Популярні</a>
            </div>
            <div class="nav-item">
                <a href="" class="nav-style"></a>
            </div>
        </div>
    </div>
    <div class="table">
    </div>
</body>
</html>
